[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "escheR"]
	path = escheR
	url = https://github.com/boyiguo1/escher
[submodule "tpSVG"]
	path = tpSVG
	url = https://github.com/boyiguo1/tpsvg
